<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Issues" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Our Issues</strong></h1>

        <!DOCTYPE html>
        <html>
        <head>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
        </head>
        <body>
        
        <h2>HTML Table</h2>
        <table>
            <tr>
                <th>Project Week</th>
                <th>Lina</th>
                <th>Dylan</th>
                <th>Naja</th>
                <th>Lydia</th>
                <th>Group Questions</th>
            </tr>

            <tr>
                <td><a>-</a></td>
                <td><a>DevOps</a></td>
                <td><a>Frontend</a></td>
                <td><a>Backend</a></td>
                <td><a>Scrum Master</a></td>
                <td><a>Friendship Table!</a></td>
            </tr>

            <tr>
                <td><a>1</a></td>
                <td><a>Getting our project to run on our local pages</a></td>
                <td><a>making a video for our review</a></td>
                <td><a>Communicating with the frontend developer</a></td>
                <td><a>Keeping everyone on task</a></td>
                <td><a>How can we communicate better as a team and create a long stream of communication?</a></td>
            </tr>

            <tr>
                <td><a>2</a></td>
                <td><a>Creating a page to place our team issues and questions</a></td>
                <td><a>Creating a page for our project to show, asking questions</a></td>
                <td><a>Changing and managing the colors and frontend</a></td>
                <td><a>Creating an etch-a-sketch for our project, How to make the python turtle work on vscode?</a></td>
                <td><a>Should we create a group fastpage? How should we display our project?</a></td>
            </tr>
        </table>

        </body>
        </html>

    {% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}